<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="books"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Book
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="bookForm" (ngSubmit)="submit()">
    <ion-item>
        <ion-label position="stacked">Book title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Released</ion-label>
        <ion-datetime displayFormat="MM DD YYYY" placeholder="Select Date" formControlName="release_date"></ion-datetime> 
      </ion-item>
      
      <ion-button type="submit" expand="block" class="ion-padding-horizontal ion-margin-vertical"
      [disabled]="!bookForm.valid">
        Save
      </ion-button>

      <ion-button *ngIf="id" (click)="delete()" type="button" expand="block" class="ion-padding-horizontal ion-margin-vertical" color="danger">
        Delete
      </ion-button>
    </form>
  </ion-content>
  